{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
    <div class="container">
        {% if user.imageFile %}
            <img src="{{ asset('images/user/' ~ user.imageFile) }}" id="pp_profil" alt="Image de l'utilisateur">
        {% else %}
            <p>pas d'image de profi:</p>
        {% endif %}
        <a class="btn btn-danger" href="{{ path('app_logout') }}">Se déconnecter</a>

        <p> Nom utilisateur : {{ user.nom }}<br>
        Bio : {{ user.bio }}</p>
        {% if user.profilPublic %}
            <p>Visibilité du profil : public</p>
        {% else %}
            <p>Visibilité du profil : privé</p>
        {% endif %}

        <a class="btn btn-primary mt-4 mb-4" href="{{ path('app_user_edit') }}">Modifier</a>
    </div>
{% endblock %}
